@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400&subset=latin-ext');

.show{
  display: block !important;
}
.uw_hide{
  display: none !important;
} 

.uw_submenu{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.66);
}
/*
.uw-setmenu{
  padding-left: 2em !important;
  padding-right: 2em !important;
}*/

.uw_submenu_bottom0{
  bottom: 0px;
}

.display_relative{
  display: relative;
}

.uw-setmenu-item{
  padding-right: 2em !important;
  padding-left: 2em !important;
}

.uw_button{
  display: inline-block;
/*   height: 100% !important;  */
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

.uw_ui_anchor{
  display: inline-block;
}
#uw_ui_anchor{
  display: inline-block;

}
