.uw-button{
  display: inline-block;
  height: 100% !important; 
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center center;
}
.uw-button:hover{
  background-color: rgba(192,0,0,0.66);
}
.uw-setmenu{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.66);
  right: 0px;
}
.uw-setmenu-item{
  display: flex;
  align-items: center;
  font-family: "Oxygen";
  color: #ffffff !important;
  width: 90%;
  padding-left: 10%;
}
.uw-setmenu-item:hover{
  background-color: rgba(192,0,0,0.66);
}
.uw_top{
  z-index: 1337;
}
