@import url("../css/font/overpass.css");
@import url("../css/font/overpass-mono.css");

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  background-size: 75px;
  background-color: #000000;
  color: #ddd;
  font-family: 'overpass', serif;
  font-size: 1.2em;
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  z-index: -1000;
}

a, a:visited{
  color: #fa6607;
  text-decoration: none;
}
a:hover{
  color: #fa6;
}

.show{
  display: block !important;
}
.hide{
  display: none !important;
}
head{
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

h1,h2{
  color: #ff9;
  font-weight: 300;
}
h1{
  font-size: 3.3em;
}
h2{
  font-size: 2.2em;
}
.sites_header{
  font-size: 1.6em;
  color: #ff9;
}
.content{
  display: inline-block;
  width: 52em;
}
.center{
  margin: 0 auto;
}
.basecolor {
  color: #ddd !important;
}
.red{
  color: #ff3a00;
}
.disabled {
  opacity: 0.69;
}
.left {
  text-align: left;
}
.block {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
.tabline {
  background-color: #000;
  width: 100%;
  margin-bottom: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  z-index: -200;
}
.tab {
  color: #fa6607;
}
.tab:hover{
  text-shadow: #aa5 0px 0px 0.02em,#aa5 0px 0px 0.02em;
}
.tab-selected {
  color: #ff9 !important;
}
#all{
  min-width: 100%;
  min-height: 100vh;
  background-image: url('img/settings/about-bg.png');
  background-position: calc(50vw + 20em) 10vh;
  background-attachment: fixed;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.dup_keybinds{
  background-color: #720 !important;
}
input[type=text]{
  font-size: 1em;
  padding-left: 0.6em;
  margin-left: 1em;
  width: 2em;
  background-color: #000;
  border: 1px #442 solid;
}
.uw_shortcuts_line{
  padding-top: 0.25em;
  padding-left: 5em;
}
.uw_shortcuts_label{
  display: inline-block;
  color: #fff;
  width: 17.5em;
}
.uw_options_line{
  margin-top: 0.75em;
  font-size: 1.1em;
  width: 80%;
  margin-left: 5%;
}
.uw_options_option{
  margin-left: 5%;
}
.uw_suboption{
  margin-left: 5em;
  margin-top: 0.75em;
  font-size: 0.85em;
}
.uw_options_desc, .uw_suboption_desc{
  margin-top: 0.33em;
  font-size: 0.69em;
  color: #aaa;
}
.uw_suboption_desc{
  margin-left: 5em;
}

.buttonbar{
/*       width: 100%; */
  padding-left: 20em;
  margin-bottom: 2em;
}
.button{
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  width: 4em;
  text-align: center;
  background-color: rgba(0,0,0,0.66);
  color: #ffc;
  height: 1.7em;
}

/** site options css **/
.site_name {
  padding-left: 1em;
  padding-bottom: 0.3em;
  color: #fff;
  font-size: 1.1em;
  height: 13em !important;
  
}
.site_details {
  font-size: 0.8em;
}
.site_title_ebox {
  width: 10em !important;
  font-size: 1.5em !important;
  background-color: rgba(0,0,0,0) !important;
  margin-left: 0px !important;
  border: 0px !important;
  color: #ffc !important;
}
.details_ebox {
  width: 12em !important;
  background-color: rgba(0,0,0,0) !important;
  border: 0px !important;      
  color: #ffc !important;
  margin-left: 0em !important;
}
.details_ebox:disabled {
  color: #aaa !important;
}
.inline_button {
  display: inline-block;
  margin-top: -1.42em;
}
.inline_button:hover {
  color: #fff;
}