<!DOCTYPE html>
<html lang="en" style="position: relative; height: 600px">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- <link rel="stylesheet" href="popup.css"> -->

  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body
  style="width: 100%; height: 100vh; overflow-x: hidden; min-width: 750px;"
>
  <div id="app" style="max-height: 100vh;">

  </div>
  <script src="csui-popup.js"></script>
</body>
</html>
