.json-level-indent {
  padding-left: 2em !important;
}
.item-key {
  color: #fa6;
}

.json-value-boolean {
  color: rgb(53, 179, 120);
}
.json-value-number {
  color: rgb(73, 73, 160);
}
.json-value-string {
  color: rgb(195, 35, 35);
}
