@import "tailwindcss";
@import "tailwindcss/utilities";

@layer base {
  button {
    @apply
      flex flex-row items-center gap-1
      px-4 py-1
      bg-black
      text-white font-medium
      border-1 border-stone-700
      cursor-pointer;

    &:hover {
      @apply border-primary-500 text-primary-300;
    }
  }
}
