@import "tailwindcss";
@import "tailwindcss/utilities";

.uw-menu-root {
  @apply h-full w-full font-mono text-stone-200 text-[16px] flex flex-row bg-transparent;

  pointer-events: none;
  transition: opacity 120ms ease;

  &:not(.uw-visible) {
    pointer-events: none;
    opacity: 0;
  }
  &.uw-hidden {
    pointer-events: none;
    opacity: 0;
  }
  &.uw-visible {
    /* pointer-events: auto; */
    opacity: 1;
  }

  &.uw-menu-left {
    @apply justify-start;
  }
  &.uw-menu-right {
    @apply justify-end;
  }

  &.uw-menu-left, &.uw-menu-right {
    &.uw-menu-top {
      @apply items-start;
    }
    &.uw-menu-ycenter {
      @apply items-center;
    }
    &.uw-menu-bottom {
      @apply items-end;
    }
  }

  &.uw-menu-center {
    @apply flex-col items-center;

    &.uw-menu-top {
      @apply justify-start;
    }
    &.uw-menu-bottom {
      @apply justify-end;
    }
  }

  /* * {
    @apply font-mono text-stone-200 text-[1em];
  } */

  svg {
    @apply text-inherit fill-current stroke-transparent;

    * {
      @apply text-inherit;
    }
  }

  .svg-icon {
    @apply fill-stone-300 stroke-transparent border-transparent;
  }
}

.uw-hidden {
  display: none !important;
}

.uw-trigger, .uw-menu-item, .uw-menu-trigger {
  pointer-events: auto;
}

.uw-submenu {
  @apply absolute flex-col gap-0;

  opacity: 0;
  display: none;
  pointer-events: none;

  /* we'll also animate a bit */
  transition: opacity 120ms ease, width 120ms ease;

  &.uw-menu-left {
    @apply left-full;
  }
  &.uw-menu-right {
    @apply right-full;
  }

  &.uw-menu-left, &.uw-menu-right {
    &.uw-menu-top {
      @apply top-0;
    }
    &.uw-menu-ycenter {
      top: 50%;
      transform: translateY(-50%);
    }
    &.uw-menu-bottom {
      @apply bottom-0;
    }
  }

  &.uw-menu-center {
    @apply flex-row;

    left: 50%;
    transform: translateX(-50%);

    &.uw-menu-top {
      @apply top-full;
    }
    &.uw-menu-bottom {
      @apply bottom-full;
    }

    .uw-menu-item {
      @apply px-8 relative;

      &:not(:first-child):after {
        content: '·';
        @apply absolute;

        left: -1rem;
        transform: translateX(50%);
      }
    }
  }

  * {
    @apply text-stone-200;
  }
}

.uw-menu-item, .uw-menu-trigger {

  &:hover > .uw-submenu {
    display: flex;
    z-index: 200;

    opacity: 1 !important;
    pointer-events: auto;
  }
}


.uw-trigger {
  @apply p-4 relative block
    bg-stone-950/75 backdrop-blur-[1em] backdrop-brightness-75 backdrop-saturate-50
    text-nowrap
  ;

  &:hover {
    @apply text-primary-200 bg-stone-800/75;
  }

  &:hover > * {
    color: inherit;
  }
}

.uw-site-info {
  @apply text-[12px] py-3;

}


.uw-menu-support-level {
  @apply inline-flex flex-row items-center !gap-4 rounded-[0.5rem] relative;

  svg {
    height: 1em;
  }

  * {
    @apply text-inherit;
  }
}

.uw-menu-warning {
  @apply flex flex-row gap-4 items-center
    bg-amber-950 text-amber-300
    border border-amber-300;

  border: 1px solid;

  svg {
    height: 1.5em;
  }

  * {
    @apply text-primary-500;
  }
}

.uw-freeform-zoom-container {
  border-style: solid !important;
  * {
    border-style: solid !important;
  }

  @apply flex flex-row items-center justify-center w-[420px];

  svg {
    height: 1.5em;
  }

  .uw-freeform-zoom-sliders {
    @apply grow flex flex-col gap-[0.125em];

    .uw-slider {
      @apply flex flex-row w-full items-center;

      .uw-slider-label {
        @apply w-[4em] opacity-75 text-right leading-none
      }
      .uw-slider-zoom {
        @apply w-[4.5em] pr-4 text-right leading-none;
      }
      .uw-slider-input {
        @apply grow leading-none pt-[0.25em];
      }

    }
  }

  .uw-slider-lock-bar-container {
    @apply h-full flex flex-col justify-center ml-2 text-stone-500;

    svg {
      @apply h-[36px] w-[14px];
    }

    &.uw-linked {
      svg {
        .uw-linked {
          opacity: 1;
        }
        .uw-unlinked {
          opacity: 0;
        }
      }
    }
    &.uw-unlinked {
      svg {
        .uw-linked {
          opacity: 0;
        }
        .uw-unlinked {
          opacity: 1;
        }
      }
    }
  }

  .uw-freeform-zoom-button-container {
    @apply h-full flex flex-col justify-center p-2;

    .uw-freeform-zoom-button {
      @apply cursor-pointer border border-1 border-stone-800 p-2 hover:bg-stone-700 hover:text-white;
    }
  }
}

#videoAlignmentController {
  @apply text-stone-400;

  svg {
    @apply border-transparent fill-stone-300 stroke-transparent;

    * {
      @apply border-transparent text-inherit;
    }

    rect {
      stroke: transparent;
    }

    .selected {
      @apply fill-primary-400 stroke-primary-400;
    }
  }
}

.uw-link-button.uw-linked .uw-unlinked {
  display: none;
}
.uw-link-button.uw-unlinked .uw-linked {
  display: none;
}
