<!DOCTYPE html>
<html lang="en"; style="position: relative">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="light dark">
  <title>Ultrawidify - settings</title>
  <!-- <link rel="stylesheet" href="csui.css"> -->
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body class="uw-ultrawidify-container-root">
  settings index — app will be loaded below
  <div id="app"></div>
  <script src="settings.js"></script>
</body>
</html>
