<!DOCTYPE html>
<html lang="en"; style="position: relative; width: 799px; min-width: 320px; height: 600px; overflow: hidden; background-color: transparent;">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="light dark">
  <title>Ultrawidify - settings</title>
  <!-- <link rel="stylesheet" href="csui.css"> -->
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body class="uw-ultrawidify-container-root" style="overflow: hidden">
  <div id="app">
    <!-- <div style="width: 799px; height: 599px">test</div> -->
  </div>
  <script src="settings.js"></script>
</body>
</html>
