$text-normal: #ddd;
$text-dim: #999;
$text-dark: #666;
$primary-color: #fb772a;
$secondary-color: #e70c0c;

$input-background: #242424;
$page-background: #101010;

$background-primary: #101010;
$background-selected: #944918;