@import './_variables.scss';

div, p, span {
  font-size: 16px;
}

.warning-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid $warning-color;
  color: $warning-color;
  margin: 0px 16px;
  padding: 16px;

  font-size: 16;

  border-radius: 2px;

  *:not(:first-child) {
    margin-left: 24px;
  }
}

h1, h2, h3 {
  font-family: 'Overpass' !important;
  font-weight: 100 !important;
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgba(11,11,11,0.5);
  color: #aaa;
  border: 1px solid transparent;

  &:hover {
    color: #fff;
    background-color: rgba(11,11,11,0.9);
    border-bottom: 1px solid rgba($primary, 0.5);
  }

  &.active {
    color: $primary;
    background-color: $primaryBg;
    border-color: rgba($primary, .5);
  }
}
.b3 {
  margin: 0.25rem;
  padding: 0.5rem 2rem;
}
