@import './_variables.scss';

div, p, span {
  font-size: 16px;
}

.warning-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid $warning-color;
  color: $warning-color;
  margin: 0px 16px;
  padding: 16px;

  font-size: 16;

  border-radius: 2px;

  *:not(:first-child) {
    margin-left: 24px;
  }
}

h1, h2, h3 {
  font-family: 'Overpass' !important;
  font-weight: 100 !important;
}
